@import '../../../theme/base';

.bgm-message {
  display: inline-block;
  width: auto;

  &-full {
    width: 100%;
  }

  > div {
    border-radius: 19px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    > svg {
      flex: none;
      margin-right: 8px;
    }
  }

  &-error > div {
    background-color: #f97f77;
    color: #fff;
  }

  &-info > div {
    background: rgba(90, 87, 87, 0.6);
    color: #fff;
  }
}
