.container {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 296px;
  transform: translateX(-50%);

  > * {
    margin-bottom: 20px;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
