.wrapper {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-80%);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;

  > * {
    width: 100%;
  }

  .hcaptcha div {
    height: 78px;
    text-align: center;
  }
}

.logo {
  margin-bottom: 25px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 150px;
}
