@import '@bangumi/design/theme/base';

.text-clamp-by-line(@lines) {
  overflow: hidden;
  /* stylelint-disable-next-line  value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
}

.pageContainer {
  > * {
    margin-bottom: 10px;
  }
}

.columnContainer {
  display: flex;
}

.leftCol {
  width: 913px;
  flex: 1;
  margin-right: 40px;
}

.rightCol {
  width: 427px;
}

.description {
  width: 100%;
  color: @gray-100;
  font-size: 16px;
  line-height: 24px;

  &.clamped {
    .text-clamp-by-line(8);
  }
}

.clampControlButton {
  color: @gray-60;
  font-size: 14px;
  line-height: 14px;
}

.newMembers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 20px;
  row-gap: 15px;
}

.topicTable {
  width: 100%;
  border-collapse: collapse;
  color: @gray-60;

  th,
  td {
    padding: 11px 0;
  }

  tr {
    border-bottom: 1px dotted @gray-10;
  }

  thead {
    font-size: 18px;
    line-height: 18px;
    text-align: left;

    th {
      font-weight: normal;
    }
  }
}
