@import '@bangumi/design/theme/base';

.pageContainer {
  > * {
    margin-bottom: 10px;
  }
}

.columnContainer {
  display: flex;
}

.leftCol {
  width: 913px;
  flex: 1;
  margin-right: 40px;
}

.rightCol {
  width: 427px;
}

.newMembers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 20px;
  row-gap: 15px;
}

.topicTable {
  width: 100%;
  border-collapse: collapse;
  color: @gray-60;

  th,
  td {
    padding: 11px 5px 11px 0;
  }

  tr {
    border-bottom: 1px dotted @gray-10;
  }

  thead {
    font-size: 18px;
    line-height: 18px;
    text-align: left;

    th {
      font-weight: normal;
    }
  }
}

.author {
  width: 120px;
}

.replies {
  width: 60px;
}

.updateTime {
  width: 100px;
}
