.bgm-button {
  border: 0;
  cursor: pointer;

  &__primary {
    background-color: #f09199;
    color: #fff;
  }

  &__secondary {
    background-color: #ede9e9;
    color: #777272;
  }

  &__rounded {
    border-radius: 99999px;
  }
}

.bgm-button__disabled {
  cursor: default;
}
