.bgm-input {
  &__wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 9px 17px;
    font-size: 14px;
    border: 2px solid #EDE9E9;
    border-radius: 19px;
  }

  &__text {
    flex: 1;
    font-size: 1em;
    outline-style: none;
    border: none;

    &::placeholder {
      color: #EDE9E9;
    }
  }
}