.bgm-input {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    padding: 9px 17px;
    width: 320px;
    border: 2px solid #EDE9E9;
    border-radius: 19px;
  }

  &__text {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
    outline-style: none;
    border: none;

    &::placeholder {
      color: #EDE9E9;
    }
  }
}