@import '../../../theme/base';

.bgm-input {
  &__wrapper {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 2px solid @gray-10;
    border-radius: 19px;

    &--disabled,
    &--disabled * {
      cursor: not-allowed;
      background: #f4f4f5;
    }
  }

  &-group {
    white-space: nowrap;
  }

  &-group &__wrapper {
    &:not(:first-of-type) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        height: 70%;
        width: 1px;
        background: @gray-10;
      }
    }

    &:not(:last-of-type) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }

  font-size: 1rem;
  outline-style: none;
  border: none;
  color: @gray-100;
  padding: 0;
  width: 100%;
  height: 1rem;

  &--alight-right {
    text-align: right;
  }

  &::placeholder {
    color: @gray-10;
  }
}
