@import '@bangumi/design/theme/variables';

@headerHeight: 59px;

.container {
  height: @headerHeight;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  //backdrop-filter: blur(20px);
  border-bottom: rgba(249, 188, 193, 0.95) solid 1px;
}

.main {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  margin-left: 24px;
  flex-shrink: 0;
  width: 193px;
  height: @headerHeight + 1;
}

.logoMobile {
  width: 126px;
  height: @headerHeight + 1;
  margin-left: 10px;
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 153px 0 63px;
  height: @headerHeight;

  .divider {
    display: inline-block;
    margin: 0 35px;
    height: 19px;
  }

  .navRight {
    color: #aaa6a6;

    /* Todo: use CSS var ? */

    :global(.bgm-menu-item--underline) {
      &:hover {
        color: @pink-80;

        &::after {
          background-color: @pink-80;
        }
      }
    }
  }
}

.infoBox {
  display: flex;
  align-items: center;
  padding: 0 7px 0 9px;
  margin-right: 16px;

  .search {
    height: 32px;
    width: 256px;
  }

  .iconNotification {
    margin: 0 25px 0 23px;
    width: 16px;
    height: 18px;
  }

  .iconSetting {
    width: 18px;
    height: 18px;
  }
}

/* 临时的移动端适配 */
@media screen and  (max-width: 1440px) {
  /* 暂时还没有搜索框 */
  .search {
    display: none;
  }

  .avatar {
    margin-right: 10px;
  }

  .nav {
    margin: auto;
  }

  .infoBox {
    margin: auto;
  }
}

@media screen and  (max-width: 1200px) {
  .nav .divider {
    margin: 0 20px;
  }
}

/* 先隐藏，目前头部没有作用，等待具体设计 */
@media screen and  (max-width: 992px) {
  .nav .divider {
    display: none;
  }

  .navRight {
    display: none !important;
  }
}

@media screen and  (max-width: 768px) {
  .navLeft {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }

  .logoMobile {
    display: block;
  }
}
