.subMenu {
  font-size: 12px;
  // todo font-weight: 350;
  font-weight: 400;
}

.subMenuDivider {
  width: 62px;
  height: 1px;
  margin: 0 auto;
}

/* 在看 */
.subMenuItem--do:hover {
  background-color: #8fcaec;
}

/*想看*/
.subMenuItem--wish:hover {
  background-color: #f68ab1;
}

/*看过*/
.subMenuItem--collect:hover {
  background-color: #3db3f5;
}

/* 搁置 */
.subMenuItem--on_hold:hover {
  background-color: #999ea1;
}

/*抛弃 */
.subMenuItem--dropped:hover {
  background-color: #585c5e;
}