@import '@bangumi/design/theme/base';

.textButton {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.25rem;
  color: @gray-60;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: @blue-100;
  }
}
