@import '../../../theme/base';

.bgm-tab {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  background-color: @pink-60;
  border-radius: 19px;

  &--borderless {
    background-color: transparent;
  }
}

.bgm-tab__item {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding: 4px 6px;
  color: #fff;
  cursor: pointer;

  &--borderless {
    font-weight: 500;
    line-height: 20px;
    color: @gray-80;
    padding: 4px 20px;

    &.bgm-tab__item--active {
      color: #fff;
    }
  }

  &--active {
    background-color: @primary-color;
    border-radius: 18px;
  }
}
