@import '@bangumi/design/theme/base';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    z-index: 5000;
  }
}

.contentWrapper {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 30px;
  box-sizing: border-box;

  @media (max-width: @sm) {
    padding: 1rem;
  }
}
