@import '@bangumi/design/theme/base';

.section {
  margin: 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid @gray-10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 0 0 5px;
}

.title {
  margin: 0;
  padding: 0 5px 0 0;
  color: @gray-80;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

.extra {
  flex: none;
  font-size: 12px;
}
