@import '@bangumi/design/theme/base';

.section {
  background: #fff;
  border: 1px solid @gray-10;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 0 0 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid @gray-10;
}

.title {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.extra {
  flex: none;
}
