/* Color */

@primary-color: #f09199;

@gray-10: #e8e3e3;
@gray-60: #9f9b9b;
@gray-80: #595555;
@gray-100: #1f1c1c;
@gray-onhold: #999ea1;
@gray-dropped: #585c5e;

@pink-10: #fff6f7;
@pink-60: #facdd0;
@pink-80: #f9bcc1;
@pink-wish: #f68ab1;

@blue-100: #54b5df;
@blue-doing: #8fcaec;
@blue-collect: #3db3f5;

/* State */
@error: #f97f77;

/* Response */
@sm: 640px;
@md: 768px;
@lg: 1024px;
@max-width: 1260px;
