@layer reset, base, tokens, recipes, utilities;

body {
  font-family: var(--fonts-bgm-sans);
  color: var(--colors-text-primary);
  background-color: var(--colors-bg-canvas);
  line-height: 1.5;
}

#storybook-root {
  min-height: 100vh;
}

.sbdocs-wrapper,
.sbdocs-content {
  background: var(--colors-bg-canvas);
  color: var(--colors-text-primary);
}
