@import '@bangumi/design/theme/base';

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: @gray-60;
}

.divider {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;

  &Vertical {
    height: 100%;
    margin: 0 14px;
  }
}

.form {
  width: 100%;

  &Input {
    flex: 1;

    > input {
      height: 1.5rem;
    }

    &Group {
      display: flex;
      flex: 1;
    }
  }

  &Radio {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &Select {
    width: 170px;
  }

  &TextArea {
    flex: 1;
    border-radius: 12px;
    resize: vertical;
    border: 2px solid @gray-10;
    min-height: 300px;
    padding: 9px;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  &Button {
    width: 120px;
  }

  .tips {
    color: @gray-60;
    width: 100%;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &DetailInfo {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
  }
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  &Item {
    display: flex;
    gap: 0.625rem;
    height: 30px;
    border-bottom: 1px dashed @gray-10;

    > span {
      // max-width:
      .truncate();
    }
  }

  &UserName {
    color: @blue-100;
  }

  &Msg {
    max-width: 30%;
    color: @gray-80;
  }

  &CreateAt {
    width: 160px;
  }

  &Suffix {
    color: @gray-60;
  }

  &More {
    align-self: end;
  }
}

.editor-handbook {
  margin-bottom: 40px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: @gray-80;
    line-height: 22px;

    > p {
      padding-bottom: 12px;
      border-bottom: 1px dashed @gray-10;
    }
  }
}

.upload-img {
  margin-bottom: 40px;

  > .divider {
    margin-bottom: 20px;
  }

  &-cover-selected,
  &-cover-uploaded {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    img {
      object-fit: contain;
      max-width: 136px;
      max-height: 300px;
    }
  }

  &-cover-item {
    margin-right: 16px;
    margin-bottom: 20px;
    max-width: 136px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-img {
      flex: auto;
      display: flex;
      align-items: center;
    }

    &-info {
      margin-block: 10px;

      > span {
        margin-right: 10px;
        vertical-align: top;
        color: @gray-80;
      }

      > a {
        width: 100px;
        overflow-wrap: break-word;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    margin-block: 20px;

    > label {
      flex: 120px 0 0;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: @gray-80;
      background-color: @gray-10;
      border-radius: 19px;
      cursor: pointer;
    }

    > span {
      font-size: 0.875rem;
      font-weight: 400;
      color: @gray-60;
      margin-inline: 20px;
    }

    > input[type='file'] {
      width: 1px;
      height: 1px;
      opacity: 0;
    }
  }

  &-btn {
    width: 120px;
    height: 38px;
  }
}
