@import '@bangumi/design/theme/base';

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: @gray-60;
}

.divider {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;

  &Vertical {
    height: 100%;
    margin: 0 14px;
  }
}

.form {
  &Input {
    border-radius: 12px;
    flex: 1;

    > input {
      height: 1.5rem;
    }

    &Group {
      display: flex;
      flex: 1;
    }
  }

  &Radio {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &TextArea {
    flex: 1;
    border-radius: 12px;
    resize: vertical;
    border: 2px solid @gray-10;
    min-height: 300px;
    padding: 9px;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  &Button {
    width: 120px;
    background: @blue-100;
    font-weight: 600;
  }

  &DetailInfo {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;

    &Item {
      position: relative;

      &Add {
        visibility: hidden;
        height: 2px;
        background: @blue-100;
        margin: 4px 0;
      }

      &:hover &Add {
        visibility: visible;
      }

      &Plus {
        position: absolute;
        right: 0;
        transform: translate(50%, -50%);
        cursor: pointer;
      }

      &Minus {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        transform: translate(50%, -50%);
      }

      &:hover &Minus {
        display: block;
      }
    }
  }
}

.history {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  &Item {
    display: flex;
    gap: 0.625rem;
    height: 30px;

    > span {
      // max-width:
      .truncate();
    }
  }

  &UserName {
    color: @blue-100;
  }

  &Msg {
    max-width: 30%;
    color: @gray-80;
  }

  &CreateAt {
    width: 160px;
  }

  &Suffix {
    color: @gray-60;
  }

  &More {
    display: flex;
    align-self: end;
    gap: 0.25rem;
    color: @gray-60;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: @blue-100;
    }
  }
}
