@import '@bangumi/design/theme/base';

.commentHeader {
  display: flex;
  align-items: flex-start;
  min-height: 98px;
  max-width: 913px;
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px dashed @gray-10;
}

.replyHeader {
  margin-left: 72px;
  padding-top: 12px;

  &.collapsed {
    min-height: 22px;
  }
}

.commentBox {
  margin-left: 12px;
}

.commentMain {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.topicContent {
  line-height: 26px;
}

.buttonGroup {
  margin-top: 12px;

  :global(.bgm-button) {
    height: 24px;
    line-height: 22px;
    margin-right: 10px;
  }

  :global(.bgm-button__secondary) {
    background-color: #fff;
    border: 2px solid @gray-10;
    border-radius: 12px;
    padding: 0 15px;
  }
}

.navBar {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: @gray-60;
  width: 100%;

  .creatorInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div > a,
  svg {
    padding-right: 12px;
  }
}
