@import '../../../theme/base';

.bgm-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-item {
    display: flex;

    @media (max-width: @sm) {
      flex-direction: column;
    }

    &-label {
      display: inline-block;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 25px;
      color: @gray-60;

      > label {
        display: flex;
        align-items: center;
        height: 38px;
      }
    }
  }

  &--compact {
    gap: 0;

    .bgm-form-item {
      &:not(:first-of-type) {
        .bgm-form__field {
          border-top: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &:not(:last-of-type) {
        .bgm-form__field {
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          // 点状分隔线，距离左右各 12px，故使用伪元素实现
          &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            width: calc(100% - 24px);
            border-bottom: 2px dotted @gray-10;
          }
        }
      }
    }

    .bgm-form__field {
      flex: 1;
      width: auto;
    }

    .bgm-form__input {
      padding: 0.75rem;
    }

    .bgm-form__editor {
      align-items: stretch;
      width: auto;
      flex: 1;
    }
  }
}
