@import '@bangumi/design/theme/base';

.container {
  position: relative;
  width: 100%;
  max-width: @max-width;
  margin: 0 auto;
  padding: 24px 30px;
  box-sizing: border-box;
}

.gutterOnly {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: @sm) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}
