@import '@bangumi/design/theme/base';

@bg-left-color: #f29ba3;
@bg-right-color: #f64b51;
@footer-height: 220px;

.footerContainer {
  display: flex;
  align-items: center;
  height: @footer-height;

  /* 左右无限延生的纯色 */

  &::before {
    content: '';
    height: 100%;
    flex: 1;
    background-color: @bg-left-color;
  }

  &::after {
    content: '';
    height: 100%;
    flex: 1;
    background-color: @bg-right-color;
  }
}

.footerMain {
  box-sizing: border-box;
  width: @max-width;
  height: 100%;
  background-color: #f47a81; // Fallback background color
  background-image: url('../../assets/footer-cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 30px;
  font-size: 14px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    width: 116px;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(270deg, @bg-left-color 41.38%, rgba(242, 155, 163, 0) 85.34%);
    transform: rotate(-180deg);
  }

  &::after {
    content: '';
    position: absolute;
    width: 116px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, @bg-right-color 0%, rgba(246, 75, 81, 0) 100%);
  }
}

.footerLeft {
  z-index: 1;

  .logo {
    width: 186px;
    height: 55px;
    margin-bottom: 38px;

    path {
      fill: #fff;
      stroke: #fff;
    }
  }

  .copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.4);

    p {
      margin: 0;
    }
  }
}

.footerRight {
  display: flex;
  align-items: center;
  z-index: 1;

  .block {
    text-align: right;
    width: 160px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 9px 0;

    .title {
      color: @pink-10;
      font-style: normal;
      font-weight: 700;
      font-size: 1em;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 9px;
    }

    div {
      margin-bottom: 9px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        font-size: 1em;
        line-height: 21px;

        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
  }
}

/* 临时的移动端适配 */

@media screen and (max-width: 1200px) {
  .footerRight .block {
    width: 130px;
  }
}

@media screen and (max-width: 992px) {
  .footerLeft {
    .copyright {
      display: none;
    }

    .logo {
      margin-bottom: 0;
      width: 160px;
    }
  }

  .footerRight {
    .block {
      width: 106px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    height: 160px;
  }

  .footerMain {
    padding: 0 8px;
    font-size: 11px;
  }

  .footerLeft {
    display: none;
  }

  .footerRight {
    justify-content: space-around;
    width: 100%;

    .block {
      text-align: left;
      width: auto;

      div {
        margin-bottom: 2px;
      }
    }
  }
}
