@import '@bangumi/design/theme/base';

.wrapper {
  display: flex;
  gap: 19px;
  justify-content: center;
  margin-bottom: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  :global(.bgm-button) {
    width: 204px;
  }
}

.links {
  font-size: 14px;
  font-weight: 600;
  color: @gray-60;
}
