@import '@bangumi/design/theme/base';

.pageContainer {
  > * {
    margin-bottom: 10px;
  }
}

.newMembers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}
