@loadingColor: #EDE9E9;
@outlineColor: rgba(255, 255, 255, 0.4);
@boxShadowColor: rgba(237, 233, 233, 0.8);

.bgm-image {
  display: inline-block;
  overflow: hidden;
  background: @loadingColor;

  &>img {
    object-fit: cover;
  }

  &:hover {
    outline: 2px solid @outlineColor;
    outline-offset: -2px;
  }

  &--withBoxShadow {
    box-shadow: 0px 5px 10px 3px @boxShadowColor;
  }

  &--rect {
    border-radius: 6px;
  }

  &--circle {
    border-radius: 50%;
  }
}