@import '../../../theme/base';

@highlight-border-color: #369cf8;

.bgm-comment {
  &__header {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px dashed @gray-10;

    &--reply {
      margin-left: 72px;
    }

    &--collapsed {
      padding-top: 12px;
      min-height: 22px;

      .bgm-comment__content {
        margin-top: 0;
      }
    }

    &--highlighted {
      border: 2px solid @highlight-border-color;
      border-radius: 5px;
    }
  }

  &__box {
    margin-left: 12px;
    flex: 1;
    // this trick is same to EditorForm
    min-width: 0;
  }

  &__main {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__tip {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @gray-60;
    width: 100%;

    .creator-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bgm-link,
      svg {
        padding-right: 12px;
      }
    }

    .comment-info {
      display: flex;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__opinions {
    margin-top: 12px;
  }

  &__content {
    color: @gray-100;
    line-height: 26px;
    margin-top: 12px;

    &--deleted {
      color: @gray-80;
    }
  }
}
