/* stylelint-disable value-no-vendor-prefix */

@import '@bangumi/design/theme/base';

.topicActions {
  display: flex;
  margin-top: 12px;
  flex-direction: row-reverse;
}

.replies {
  margin-top: 40px;
}

.replyFormContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;

  .replyForm {
    @media (max-width: @md) {
      flex-basis: 100%;
    }

    flex-basis: 75%;
    margin-left: 12px;
  }
}
