@import '@bangumi/design/theme/base';

.page {
  :global(.bgm-link) {
    color: #0084b4;
  }
}

.greets {
  font-size: 24px;
  margin: 0 0 12px;

  @media (max-width: @sm) {
    font-size: 20px;
  }
}

.columns {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.columnLeft {
  flex: 7 1 0;
  min-width: 0;
}

.columnRight {
  flex: 3 1 0;
  min-width: 0;
  box-sizing: border-box;
}

@media (max-width: @md) {
  .columns {
    flex-direction: column;
    align-items: stretch;
  }

  .columnRight {
    flex: none;
    width: 100%;
  }
}
