@import '@bangumi/design/theme/base';

.block {
  background: #fff;
  border: 1px solid @gray-10;
  border-radius: 3px;
  margin: 0 0 20px;
  overflow: hidden;
}

.title {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 8px 10px;
  border-bottom: 1px solid @gray-10;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-bottom: 1px solid @gray-10;

  &:last-child {
    border-bottom: none;
  }
}

.avatarLink {
  flex: none;
}

.info {
  min-width: 0;
  font-size: 13px;
  line-height: 1.6;
}

.desc {
  color: @gray-100;
  overflow-wrap: anywhere;

  p {
    margin: 2px 0 0;
  }
}

.statusText {
  color: @gray-80;
  margin: 2px 0 0;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.time {
  color: @gray-60;
  font-size: 12px;
  margin-top: 4px;
}
