@import '@bangumi/design/theme/base';

.card {
  margin-bottom: 38px;
}

.bio {
  position: relative;
  display: flex;
  gap: 12px;
  min-height: 126px;
  margin-bottom: 12px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #f7f7f4;
}

.quoteIcon {
  flex-shrink: 0;
  color: @gray-60;
  font-size: 24px;
}

.bioText {
  color: @gray-100;
  font-size: 14px;
  line-height: 1.6;
  word-break: normal;
  overflow-wrap: break-word;

  :global(p) {
    margin: 0 0 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.services {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;

  li {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: #999;
  }
}

.serviceName {
  flex-shrink: 0;
  padding: 2px 10px;
  border-radius: 12px;
  color: #fff;
  font-size: 11px;
}

.serviceText {
  color: #999;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.serviceText {
  color: @blue-100;
}

@media (max-width: @sm) {
  .card {
    margin-bottom: 24px;
  }

  .bio {
    min-height: 0;
    padding: 12px;
  }

  .bioText,
  .services li {
    font-size: 14px;
  }
}
