@layer reset, base, tokens, recipes, utilities;

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --aspect-ratios-square: 1 / 1;
    --aspect-ratios-landscape: 4 / 3;
    --aspect-ratios-portrait: 3 / 4;
    --aspect-ratios-wide: 16 / 9;
    --aspect-ratios-ultrawide: 18 / 5;
    --aspect-ratios-golden: 1.618 / 1;
    --borders-none: none;
    --easings-default: cubic-bezier(0.4, 0, 0.2, 1);
    --easings-linear: linear;
    --easings-in: cubic-bezier(0.4, 0, 1, 1);
    --easings-out: cubic-bezier(0, 0, 0.2, 1);
    --easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --durations-fastest: 50ms;
    --durations-faster: 100ms;
    --durations-fast: 150ms;
    --durations-normal: 200ms;
    --durations-slow: 300ms;
    --durations-slower: 400ms;
    --durations-slowest: 500ms;
    --radii-xs: 0.125rem;
    --radii-sm: 0.25rem;
    --radii-md: 0.375rem;
    --radii-lg: 0.5rem;
    --radii-xl: 0.75rem;
    --radii-2xl: 1rem;
    --radii-3xl: 1.5rem;
    --radii-4xl: 2rem;
    --radii-full: 9999px;
    --font-weights-thin: 100;
    --font-weights-extralight: 200;
    --font-weights-light: 300;
    --font-weights-normal: 400;
    --font-weights-medium: 500;
    --font-weights-semibold: 600;
    --font-weights-bold: 700;
    --font-weights-extrabold: 800;
    --font-weights-black: 900;
    --line-heights-none: 1;
    --line-heights-tight: 1.25;
    --line-heights-snug: 1.375;
    --line-heights-normal: 1.5;
    --line-heights-relaxed: 1.625;
    --line-heights-loose: 2;
    --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --letter-spacings-tighter: -0.05em;
    --letter-spacings-tight: -0.025em;
    --letter-spacings-normal: 0em;
    --letter-spacings-wide: 0.025em;
    --letter-spacings-wider: 0.05em;
    --letter-spacings-widest: 0.1em;
    --font-sizes-2xs: 0.5rem;
    --font-sizes-xs: 0.75rem;
    --font-sizes-sm: 0.875rem;
    --font-sizes-md: 1rem;
    --font-sizes-lg: 1.125rem;
    --font-sizes-xl: 1.25rem;
    --font-sizes-2xl: 1.5rem;
    --font-sizes-3xl: 1.875rem;
    --font-sizes-4xl: 2.25rem;
    --font-sizes-5xl: 3rem;
    --font-sizes-6xl: 3.75rem;
    --font-sizes-7xl: 4.5rem;
    --font-sizes-8xl: 6rem;
    --font-sizes-9xl: 8rem;
    --shadows-2xs: 0 1px rgb(0 0 0 / 0.05);
    --shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --shadows-inset-2xs: inset 0 1px rgb(0 0 0 / 0.05);
    --shadows-inset-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
    --shadows-inset-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);
    --colors-current: currentColor;
    --colors-black: #000;
    --colors-white: #fff;
    --colors-transparent: rgb(0 0 0 / 0);
    --colors-rose-50: #fff1f2;
    --colors-rose-100: #ffe4e6;
    --colors-rose-200: #fecdd3;
    --colors-rose-300: #fda4af;
    --colors-rose-400: #fb7185;
    --colors-rose-500: #f43f5e;
    --colors-rose-600: #e11d48;
    --colors-rose-700: #be123c;
    --colors-rose-800: #9f1239;
    --colors-rose-900: #881337;
    --colors-rose-950: #4c0519;
    --colors-pink-50: #fdf2f8;
    --colors-pink-100: #fce7f3;
    --colors-pink-200: #fbcfe8;
    --colors-pink-300: #f9a8d4;
    --colors-pink-400: #f472b6;
    --colors-pink-500: #ec4899;
    --colors-pink-600: #db2777;
    --colors-pink-700: #be185d;
    --colors-pink-800: #9d174d;
    --colors-pink-900: #831843;
    --colors-pink-950: #500724;
    --colors-fuchsia-50: #fdf4ff;
    --colors-fuchsia-100: #fae8ff;
    --colors-fuchsia-200: #f5d0fe;
    --colors-fuchsia-300: #f0abfc;
    --colors-fuchsia-400: #e879f9;
    --colors-fuchsia-500: #d946ef;
    --colors-fuchsia-600: #c026d3;
    --colors-fuchsia-700: #a21caf;
    --colors-fuchsia-800: #86198f;
    --colors-fuchsia-900: #701a75;
    --colors-fuchsia-950: #4a044e;
    --colors-purple-50: #faf5ff;
    --colors-purple-100: #f3e8ff;
    --colors-purple-200: #e9d5ff;
    --colors-purple-300: #d8b4fe;
    --colors-purple-400: #c084fc;
    --colors-purple-500: #a855f7;
    --colors-purple-600: #9333ea;
    --colors-purple-700: #7e22ce;
    --colors-purple-800: #6b21a8;
    --colors-purple-900: #581c87;
    --colors-purple-950: #3b0764;
    --colors-violet-50: #f5f3ff;
    --colors-violet-100: #ede9fe;
    --colors-violet-200: #ddd6fe;
    --colors-violet-300: #c4b5fd;
    --colors-violet-400: #a78bfa;
    --colors-violet-500: #8b5cf6;
    --colors-violet-600: #7c3aed;
    --colors-violet-700: #6d28d9;
    --colors-violet-800: #5b21b6;
    --colors-violet-900: #4c1d95;
    --colors-violet-950: #2e1065;
    --colors-indigo-50: #eef2ff;
    --colors-indigo-100: #e0e7ff;
    --colors-indigo-200: #c7d2fe;
    --colors-indigo-300: #a5b4fc;
    --colors-indigo-400: #818cf8;
    --colors-indigo-500: #6366f1;
    --colors-indigo-600: #4f46e5;
    --colors-indigo-700: #4338ca;
    --colors-indigo-800: #3730a3;
    --colors-indigo-900: #312e81;
    --colors-indigo-950: #1e1b4b;
    --colors-blue-50: #eff6ff;
    --colors-blue-100: #dbeafe;
    --colors-blue-200: #bfdbfe;
    --colors-blue-300: #93c5fd;
    --colors-blue-400: #60a5fa;
    --colors-blue-500: #3b82f6;
    --colors-blue-600: #2563eb;
    --colors-blue-700: #1d4ed8;
    --colors-blue-800: #1e40af;
    --colors-blue-900: #1e3a8a;
    --colors-blue-950: #172554;
    --colors-sky-50: #f0f9ff;
    --colors-sky-100: #e0f2fe;
    --colors-sky-200: #bae6fd;
    --colors-sky-300: #7dd3fc;
    --colors-sky-400: #38bdf8;
    --colors-sky-500: #0ea5e9;
    --colors-sky-600: #0284c7;
    --colors-sky-700: #0369a1;
    --colors-sky-800: #075985;
    --colors-sky-900: #0c4a6e;
    --colors-sky-950: #082f49;
    --colors-cyan-50: #ecfeff;
    --colors-cyan-100: #cffafe;
    --colors-cyan-200: #a5f3fc;
    --colors-cyan-300: #67e8f9;
    --colors-cyan-400: #22d3ee;
    --colors-cyan-500: #06b6d4;
    --colors-cyan-600: #0891b2;
    --colors-cyan-700: #0e7490;
    --colors-cyan-800: #155e75;
    --colors-cyan-900: #164e63;
    --colors-cyan-950: #083344;
    --colors-teal-50: #f0fdfa;
    --colors-teal-100: #ccfbf1;
    --colors-teal-200: #99f6e4;
    --colors-teal-300: #5eead4;
    --colors-teal-400: #2dd4bf;
    --colors-teal-500: #14b8a6;
    --colors-teal-600: #0d9488;
    --colors-teal-700: #0f766e;
    --colors-teal-800: #115e59;
    --colors-teal-900: #134e4a;
    --colors-teal-950: #042f2e;
    --colors-emerald-50: #ecfdf5;
    --colors-emerald-100: #d1fae5;
    --colors-emerald-200: #a7f3d0;
    --colors-emerald-300: #6ee7b7;
    --colors-emerald-400: #34d399;
    --colors-emerald-500: #10b981;
    --colors-emerald-600: #059669;
    --colors-emerald-700: #047857;
    --colors-emerald-800: #065f46;
    --colors-emerald-900: #064e3b;
    --colors-emerald-950: #022c22;
    --colors-green-50: #f0fdf4;
    --colors-green-100: #dcfce7;
    --colors-green-200: #bbf7d0;
    --colors-green-300: #86efac;
    --colors-green-400: #4ade80;
    --colors-green-500: #22c55e;
    --colors-green-600: #16a34a;
    --colors-green-700: #15803d;
    --colors-green-800: #166534;
    --colors-green-900: #14532d;
    --colors-green-950: #052e16;
    --colors-lime-50: #f7fee7;
    --colors-lime-100: #ecfccb;
    --colors-lime-200: #d9f99d;
    --colors-lime-300: #bef264;
    --colors-lime-400: #a3e635;
    --colors-lime-500: #84cc16;
    --colors-lime-600: #65a30d;
    --colors-lime-700: #4d7c0f;
    --colors-lime-800: #3f6212;
    --colors-lime-900: #365314;
    --colors-lime-950: #1a2e05;
    --colors-yellow-50: #fefce8;
    --colors-yellow-100: #fef9c3;
    --colors-yellow-200: #fef08a;
    --colors-yellow-300: #fde047;
    --colors-yellow-400: #facc15;
    --colors-yellow-500: #eab308;
    --colors-yellow-600: #ca8a04;
    --colors-yellow-700: #a16207;
    --colors-yellow-800: #854d0e;
    --colors-yellow-900: #713f12;
    --colors-yellow-950: #422006;
    --colors-amber-50: #fffbeb;
    --colors-amber-100: #fef3c7;
    --colors-amber-200: #fde68a;
    --colors-amber-300: #fcd34d;
    --colors-amber-400: #fbbf24;
    --colors-amber-500: #f59e0b;
    --colors-amber-600: #d97706;
    --colors-amber-700: #b45309;
    --colors-amber-800: #92400e;
    --colors-amber-900: #78350f;
    --colors-amber-950: #451a03;
    --colors-orange-50: #fff7ed;
    --colors-orange-100: #ffedd5;
    --colors-orange-200: #fed7aa;
    --colors-orange-300: #fdba74;
    --colors-orange-400: #fb923c;
    --colors-orange-500: #f97316;
    --colors-orange-600: #ea580c;
    --colors-orange-700: #c2410c;
    --colors-orange-800: #9a3412;
    --colors-orange-900: #7c2d12;
    --colors-orange-950: #431407;
    --colors-red-50: #fef2f2;
    --colors-red-100: #fee2e2;
    --colors-red-200: #fecaca;
    --colors-red-300: #fca5a5;
    --colors-red-400: #f87171;
    --colors-red-500: #ef4444;
    --colors-red-600: #dc2626;
    --colors-red-700: #b91c1c;
    --colors-red-800: #991b1b;
    --colors-red-900: #7f1d1d;
    --colors-red-950: #450a0a;
    --colors-neutral-50: #fafafa;
    --colors-neutral-100: #f5f5f5;
    --colors-neutral-200: #e5e5e5;
    --colors-neutral-300: #d4d4d4;
    --colors-neutral-400: #a3a3a3;
    --colors-neutral-500: #737373;
    --colors-neutral-600: #525252;
    --colors-neutral-700: #404040;
    --colors-neutral-800: #262626;
    --colors-neutral-900: #171717;
    --colors-neutral-950: #0a0a0a;
    --colors-stone-50: #fafaf9;
    --colors-stone-100: #f5f5f4;
    --colors-stone-200: #e7e5e4;
    --colors-stone-300: #d6d3d1;
    --colors-stone-400: #a8a29e;
    --colors-stone-500: #78716c;
    --colors-stone-600: #57534e;
    --colors-stone-700: #44403c;
    --colors-stone-800: #292524;
    --colors-stone-900: #1c1917;
    --colors-stone-950: #0c0a09;
    --colors-zinc-50: #fafafa;
    --colors-zinc-100: #f4f4f5;
    --colors-zinc-200: #e4e4e7;
    --colors-zinc-300: #d4d4d8;
    --colors-zinc-400: #a1a1aa;
    --colors-zinc-500: #71717a;
    --colors-zinc-600: #52525b;
    --colors-zinc-700: #3f3f46;
    --colors-zinc-800: #27272a;
    --colors-zinc-900: #18181b;
    --colors-zinc-950: #09090b;
    --colors-gray-50: #f9fafb;
    --colors-gray-100: #f3f4f6;
    --colors-gray-200: #e5e7eb;
    --colors-gray-300: #d1d5db;
    --colors-gray-400: #9ca3af;
    --colors-gray-500: #6b7280;
    --colors-gray-600: #4b5563;
    --colors-gray-700: #374151;
    --colors-gray-800: #1f2937;
    --colors-gray-900: #111827;
    --colors-gray-950: #030712;
    --colors-slate-50: #f8fafc;
    --colors-slate-100: #f1f5f9;
    --colors-slate-200: #e2e8f0;
    --colors-slate-300: #cbd5e1;
    --colors-slate-400: #94a3b8;
    --colors-slate-500: #64748b;
    --colors-slate-600: #475569;
    --colors-slate-700: #334155;
    --colors-slate-800: #1e293b;
    --colors-slate-900: #0f172a;
    --colors-slate-950: #020617;
    --blurs-xs: 4px;
    --blurs-sm: 8px;
    --blurs-md: 12px;
    --blurs-lg: 16px;
    --blurs-xl: 24px;
    --blurs-2xl: 40px;
    --blurs-3xl: 64px;
    --spacing-0: 0rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;
    --spacing-0\.5: 0.125rem;
    --spacing-1\.5: 0.375rem;
    --spacing-2\.5: 0.625rem;
    --spacing-3\.5: 0.875rem;
    --spacing-4\.5: 1.125rem;
    --spacing-5\.5: 1.375rem;
    --sizes-0: 0rem;
    --sizes-1: 0.25rem;
    --sizes-2: 0.5rem;
    --sizes-3: 0.75rem;
    --sizes-4: 1rem;
    --sizes-5: 1.25rem;
    --sizes-6: 1.5rem;
    --sizes-7: 1.75rem;
    --sizes-8: 2rem;
    --sizes-9: 2.25rem;
    --sizes-10: 2.5rem;
    --sizes-11: 2.75rem;
    --sizes-12: 3rem;
    --sizes-14: 3.5rem;
    --sizes-16: 4rem;
    --sizes-20: 5rem;
    --sizes-24: 6rem;
    --sizes-28: 7rem;
    --sizes-32: 8rem;
    --sizes-36: 9rem;
    --sizes-40: 10rem;
    --sizes-44: 11rem;
    --sizes-48: 12rem;
    --sizes-52: 13rem;
    --sizes-56: 14rem;
    --sizes-60: 15rem;
    --sizes-64: 16rem;
    --sizes-72: 18rem;
    --sizes-80: 20rem;
    --sizes-96: 24rem;
    --sizes-0\.5: 0.125rem;
    --sizes-1\.5: 0.375rem;
    --sizes-2\.5: 0.625rem;
    --sizes-3\.5: 0.875rem;
    --sizes-4\.5: 1.125rem;
    --sizes-5\.5: 1.375rem;
    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-prose: 65ch;
    --sizes-full: 100%;
    --sizes-min: min-content;
    --sizes-max: max-content;
    --sizes-fit: fit-content;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --animations-spin: spin 1s linear infinite;
    --animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animations-bounce: bounce 1s infinite;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
}

  @keyframes spin {
    to {
      transform: rotate(360deg);
}
}

  @keyframes ping {
    75%,100% {
      transform: scale(2);
      opacity: 0;
}
}

  @keyframes pulse {
    50% {
      opacity: 0.5;
}
}

  @keyframes bounce {
    0%,100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
}

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
}
}
}

@layer utilities{

  .\--thickness_1px {
    --thickness: 1px;
}

  .m_2px_0_0 {
    margin: 2px 0 0;
}

  .inset_0 {
    inset: var(--spacing-0);
}

  .m_0_auto {
    margin: 0 auto;
}

  .m_0_6px {
    margin: 0 6px;
}

  .bg_rgba\(255\,_255\,_255\,_0\.95\) {
    background: rgba(255, 255, 255, 0.95);
}

  .p_0_30px_0_24px {
    padding: 0 30px 0 24px;
}

  .m_0_auto\! {
    margin: 0 auto !important;
}

  .bg_currentcolor {
    background: currentcolor;
}

  .m_0_27px {
    margin: 0 27px;
}

  .p_0_7px_0_9px {
    padding: 0 7px 0 9px;
}

  .p_3px_8px_5px {
    padding: 3px 8px 5px;
}

  .bg_\#fff\! {
    background: #fff !important;
}

  .bd_none {
    border: var(--borders-none);
}

  .bg_transparent {
    background: var(--colors-transparent);
}

  .m_0_9px_0_5px {
    margin: 0 9px 0 5px;
}

  .p_3px_12px {
    padding: 3px 12px;
}

  .p_0 {
    padding: var(--spacing-0);
}

  .m_0_9px_0_7px {
    margin: 0 9px 0 7px;
}

  .p_0\! {
    padding: var(--spacing-0) !important;
}

  .m_0_-10px {
    margin: 0 -10px;
}

  .p_24px_30px {
    padding: 24px 30px;
}

  .p_9px_0 {
    padding: 9px 0;
}

  .bd_2px_solid_\#e8e3e3 {
    border: 2px solid #e8e3e3;
}

  .m_0_0_16px {
    margin: 0 0 16px;
}

  .m_0_0_12px {
    margin: 0 0 12px;
}

  .m_0 {
    margin: var(--spacing-0);
}

  .p_40px_0 {
    padding: 40px 0;
}

  .p_8px_0 {
    padding: 8px 0;
}

  .bg_\#f97f77 {
    background: #f97f77;
}

  .m_0_0_8px {
    margin: 0 0 8px;
}

  .p_32px_30px_48px {
    padding: 32px 30px 48px;
}

  .m_8px_0_24px {
    margin: 8px 0 24px;
}

  .p_4px_8px {
    padding: 4px 8px;
}

  .bd_1px_solid_\#d8d3d3 {
    border: 1px solid #d8d3d3;
}

  .bg_\#fff {
    background: #fff;
}

  .p_8px {
    padding: 8px;
}

  .font_inherit {
    font: inherit;
}

  .p_7\.5px_0 {
    padding: 7.5px 0;
}

  .m_0_0_24px {
    margin: 0 0 24px;
}

  .p_12px_0 {
    padding: 12px 0;
}

  .m_0_0_6px {
    margin: 0 0 6px;
}

  .bg_\#f4f4f4 {
    background: #f4f4f4;
}

  .bd_1px_solid_\#e6e6e6 {
    border: 1px solid #e6e6e6;
}

  .p_2px_6px {
    padding: 2px 6px;
}

  .m_16px_0_0 {
    margin: 16px 0 0;
}

  .p_12px {
    padding: 12px;
}

  .bd_1px_solid_\#ccc {
    border: 1px solid #ccc;
}

  .p_16px {
    padding: 16px;
}

  .bg_\#fafafa {
    background: #fafafa;
}

  .p_6px_10px {
    padding: 6px 10px;
}

  .p_8px_10px {
    padding: 8px 10px;
}

  .m_5px_10px {
    margin: 5px 10px;
}

  .p_4px_0 {
    padding: 4px 0;
}

  .p_3px_5px_8px {
    padding: 3px 5px 8px;
}

  .p_8px_5px {
    padding: 8px 5px;
}

  .m_3px_0_0 {
    margin: 3px 0 0;
}

  .p_0_10px {
    padding: 0 10px;
}

  .p_5px_10px {
    padding: 5px 10px;
}

  .p_6px_5px {
    padding: 6px 5px;
}

  .m_0_5px_1px_1px {
    margin: 0 5px 1px 1px;
}

  .bg_\#3db3f5 {
    background: #3db3f5;
}

  .bg_\#d9dfe1 {
    background: #d9dfe1;
}

  .p_16px_10px {
    padding: 16px 10px;
}

  .m_5px_0 {
    margin: 5px 0;
}

  .p_5px_25px {
    padding: 5px 25px;
}

  .bg_\#f09199 {
    background: #f09199;
}

  .p_5px_0 {
    padding: 5px 0;
}

  .m_0_5px {
    margin: 0 5px;
}

  .p_0_5px_5px_0 {
    padding: 0 5px 5px 0;
}

  .p_0_5px_0_17px {
    padding: 0 5px 0 17px;
}

  .m_10px_0 {
    margin: 10px 0;
}

  .p_10px {
    padding: 10px;
}

  .bg_\#e8e3e3 {
    background: #e8e3e3;
}

  .m_10px_0_0 {
    margin: 10px 0 0;
}

  .m_5px_0_0 {
    margin: 5px 0 0;
}

  .m_0_0_5px {
    margin: 0 0 5px;
}

  .p_0_5px_0_0 {
    padding: 0 5px 0 0;
}

  .bd_1px_solid_\#e8e3e3 {
    border: 1px solid #e8e3e3;
}

  .bd_2px_dashed_\#e8e3e3 {
    border: 2px dashed #e8e3e3;
}

  .bg_\#f7f7f4 {
    background: #f7f7f4;
}

  .p_2px_10px {
    padding: 2px 10px;
}

  .p_14px_12px {
    padding: 14px 12px;
}

  .bg_linear-gradient\(\#fff\,_\#f5f5f5\) {
    background: linear-gradient(#fff, #f5f5f5);
}

  .m_8px_14px_10px_20px {
    margin: 8px 14px 10px 20px;
}

  .p_0_0_0_16px {
    padding: 0 0 0 16px;
}

  .p_7px_0 {
    padding: 7px 0;
}

  .bd_2px_solid_\#ffd9de {
    border: 2px solid #ffd9de;
}

  .bg_\#f88f9b {
    background: #f88f9b;
}

  .m_0_0_10px {
    margin: 0 0 10px;
}

  .p_10px_0 {
    padding: 10px 0;
}

  .m_0_0_4px {
    margin: 0 0 4px;
}

  .p_2px_8px_2px_5px {
    padding: 2px 8px 2px 5px;
}

  .p_2px {
    padding: 2px;
}

  .gap_12px {
    gap: 12px;
}

  .flex_1_0_auto {
    flex: 1 0 auto;
}

  .bd-b_1px_solid_rgba\(249\,_188\,_193\,_0\.95\) {
    border-bottom: 1px solid rgba(249, 188, 193, 0.95);
}

  .bdr_1px {
    border-radius: 1px;
}

  .ring_none {
    outline: var(--borders-none);
}

  .td_none {
    text-decoration: none;
}

  .bdr_9999px {
    border-radius: 9999px;
}

  .bdr_19px {
    border-radius: 19px;
}

  .ov_hidden {
    overflow: hidden;
}

  .gap_20px {
    gap: 20px;
}

  .gap_24px {
    gap: 24px;
}

  .bd-b_1px_solid_\#e8e3e3 {
    border-bottom: 1px solid #e8e3e3;
}

  .li-s_none {
    list-style: none;
}

  .gap_10px {
    gap: 10px;
}

  .bd-b_1px_dashed_\#e8e3e3 {
    border-bottom: 1px dashed #e8e3e3;
}

  .bdr_6px {
    border-radius: 6px;
}

  .gap_4px {
    gap: 4px;
}

  .bdr_4px {
    border-radius: 4px;
}

  .grid-c_1 {
    grid-column: 1;
}

  .bdr_true {
    border-radius: true;
}

  .gap_40px {
    gap: 40px;
}

  .flex_1_1_40\% {
    flex: 1 1 40%;
}

  .flex_1_1_60\% {
    flex: 1 1 60%;
}

  .bd-b_1px_solid_\#eee {
    border-bottom: 1px solid #eee;
}

  .gap_8px {
    gap: 8px;
}

  .flex_none {
    flex: none;
}

  .flex_7_1_0 {
    flex: 7 1 0;
}

  .flex_3_1_0 {
    flex: 3 1 0;
}

  .bd-b_1px_dotted_\#e8e3e3 {
    border-bottom: 1px dotted #e8e3e3;
}

  .flex_1 {
    flex: 1 1 0%;
}

  .gap_1rem {
    gap: 1rem;
}

  .bd-t_1px_solid_\#e8e3e3 {
    border-top: 1px solid #e8e3e3;
}

  .bd-b_1px_dotted_\#e0e0e0 {
    border-bottom: 1px dotted #e0e0e0;
}

  .bdr_50\% {
    border-radius: 50%;
}

  .bdr_50px {
    border-radius: 50px;
}

  .flex_0_0_50px {
    flex: 0 0 50px;
}

  .flex_1_1_auto {
    flex: 1 1 auto;
}

  .flex_0_0_48px {
    flex: 0 0 48px;
}

  .bdr_3px {
    border-radius: 3px;
}

  .bdr_8px {
    border-radius: 8px;
}

  .gap_5px_10px {
    gap: 5px 10px;
}

  .bdr_12px {
    border-radius: 12px;
}

  .bd-l_2px_solid_\#e8e3e3 {
    border-left: 2px solid #e8e3e3;
}

  .gap_16px {
    gap: 16px;
}

  .flex_0_0_220px {
    flex: 0 0 220px;
}

  .gap_4px_14px {
    gap: 4px 14px;
}

  .gap_5px {
    gap: 5px;
}

  .bdr_10px {
    border-radius: 10px;
}

  .bd-c_\#369cf8 {
    border-color: #369cf8;
}

  .c_\#595555 {
    color: #595555;
}

  .ov-wrap_anywhere {
    overflow-wrap: anywhere;
}

  .white-space_pre-wrap {
    white-space: pre-wrap;
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .d_flex {
    display: flex;
}

  .jc_center {
    justify-content: center;
}

  .ai_center {
    align-items: center;
}

  .pos_absolute {
    position: absolute;
}

  .flex-d_column {
    flex-direction: column;
}

  .fw_600 {
    font-weight: 600;
}

  .fs_24px {
    font-size: 24px;
}

  .lh_34px {
    line-height: 34px;
}

  .c_\#f09199 {
    color: #f09199;
}

  .fs_14px {
    font-size: 14px;
}

  .c_\#9f9b9b {
    color: #9f9b9b;
}

  .fw_400 {
    font-weight: 400;
}

  .pos_relative {
    position: relative;
}

  .bx-s_border-box {
    box-sizing: border-box;
}

  .fs_12px {
    font-size: 12px;
}

  .bd-be-w_var\(--thickness\) {
    border-block-end-width: var(--thickness);
}

  .z_5000 {
    z-index: 5000;
}

  .jc_space-between {
    justify-content: space-between;
}

  .flex-sh_0 {
    flex-shrink: 0;
}

  .d_none {
    display: none;
}

  .d_block {
    display: block;
}

  .d_inline-block {
    display: inline-block;
}

  .c_\#999 {
    color: #999;
}

  .fw_500 {
    font-weight: 500;
}

  .lh_20px {
    line-height: 20px;
}

  .c_\#555 {
    color: #555;
}

  .ap_none {
    appearance: none;
    -webkit-appearance: none;
}

  .ai_stretch {
    align-items: stretch;
}

  .bd-e-w_var\(--thickness\) {
    border-inline-end-width: var(--thickness);
}

  .resize_vertical {
    resize: vertical;
}

  .trf_translateX\(-50\%\)_translateY\(-80\%\) {
    transform: translateX(-50%) translateY(-80%);
}

  .flex-d_row {
    flex-direction: row;
}

  .c_gray {
    color: gray;
}

  .flex-wrap_wrap {
    flex-wrap: wrap;
}

  .c_\#3db3f5 {
    color: #3db3f5;
}

  .c_\#1f1c1c {
    color: #1f1c1c;
}

  .fs_26px {
    font-size: 26px;
}

  .fs_18px {
    font-size: 18px;
}

  .lh_1\.8 {
    line-height: 1.8;
}

  .wb_break-all {
    word-break: break-all;
}

  .fs_28px {
    font-size: 28px;
}

  .lh_38px {
    line-height: 38px;
}

  .fs_15px {
    font-size: 15px;
}

  .lh_24px {
    line-height: 24px;
}

  .fs_20px {
    font-size: 20px;
}

  .lh_28px {
    line-height: 28px;
}

  .tov_ellipsis {
    text-overflow: ellipsis;
}

  .white-space_nowrap {
    white-space: nowrap;
}

  .c_\#e8e3e3 {
    color: #e8e3e3;
}

  .lh_1\.4 {
    line-height: 1.4;
}

  .c_\#54b5df {
    color: #54b5df;
}

  .fs_22px {
    font-size: 22px;
}

  .lh_1\.5 {
    line-height: 1.5;
}

  .jc_flex-end {
    justify-content: flex-end;
}

  .c_blue {
    color: blue;
}

  .d_grid {
    display: grid;
}

  .grid-tc_repeat\(5\,_1fr\) {
    grid-template-columns: repeat(5, 1fr);
}

  .cg_30px {
    column-gap: 30px;
}

  .rg_15px {
    row-gap: 15px;
}

  .inset-e_true {
    inset-inline-end: true;
}

  .ai_flex-start {
    align-items: flex-start;
}

  .ai_baseline {
    align-items: baseline;
}

  .fw_normal {
    font-weight: var(--font-weights-normal);
}

  .fs_16px {
    font-size: 16px;
}

  .ff_\'SFMono-Regular\'\,_Consolas\,_\'Liberation_Mono\'\,_Menlo\,_monospace {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}

  .fs_13px {
    font-size: 13px;
}

  .c_\#d6336c {
    color: #d6336c;
}

  .c_\#666 {
    color: #666;
}

  .lh_1\.6 {
    line-height: 1.6;
}

  .ov-wrap_break-word {
    overflow-wrap: break-word;
}

  .ta_right {
    text-align: right;
}

  .lh_1\.35 {
    line-height: 1.35;
}

  .tbl_fixed {
    table-layout: fixed;
}

  .grid-tc_repeat\(3\,_290px\) {
    grid-template-columns: repeat(3, 290px);
}

  .cg_14px {
    column-gap: 14px;
}

  .rg_20px {
    row-gap: 20px;
}

  .rg_1rem {
    row-gap: 1rem;
}

  .cg_2\.5rem {
    column-gap: 2.5rem;
}

  .grid-tc_2fr_1fr {
    grid-template-columns: 2fr 1fr;
}

  .flex-b_75\% {
    flex-basis: 75%;
}

  .inset-e_overview {
    inset-inline-end: overview;
}

  .grid-tc_minmax\(0\,_7fr\)_minmax\(260px\,_3fr\) {
    grid-template-columns: minmax(0, 7fr) minmax(260px, 3fr);
}

  .ai_start {
    align-items: start;
}

  .lh_18px {
    line-height: 18px;
}

  .lh_19px {
    line-height: 19px;
}

  .c_\#fff {
    color: #fff;
}

  .lh_150\% {
    line-height: 150%;
}

  .ta_center {
    text-align: center;
}

  .lh_15px {
    line-height: 15px;
}

  .bg-r_no-repeat {
    background-repeat: no-repeat;
}

  .bg-s_15px_100px {
    background-size: 15px 100px;
}

  .asp_1 {
    aspect-ratio: 1;
}

  .obj-f_cover {
    object-fit: cover;
}

  .ta_left {
    text-align: left;
}

  .fs_11px {
    font-size: 11px;
}

  .fw_300 {
    font-weight: 300;
}

  .bx-sh_0_1px_4px_rgba\(0\,_0\,_0\,_0\.04\) {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

  .op_0\.3 {
    opacity: 0.3;
}

  .cursor_pointer {
    cursor: pointer;
}

  .op_0 {
    opacity: 0;
}

  .fs_1rem {
    font-size: 1rem;
}

  .vis_hidden {
    visibility: hidden;
}

  .font-style_normal {
    font-style: normal;
}

  .lh_22px {
    line-height: 22px;
}

  .grid-tc_repeat\(auto-fill\,_minmax\(60px\,_1fr\)\) {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

  .wb_normal {
    word-break: normal;
}

  .bx-sh_0_5px_14px_rgba\(0\,_0\,_0\,_0\.1\) {
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

  .c_\#54b5df\! {
    color: #54b5df !important;
}

  .page_1 {
    page: 1px;
}

  .bg-c_\#facdd0 {
    background-color: #facdd0;
}

  .content_bgm {
    content: bgm;
}

  .content_233\+123 {
    content: 233+123;
}

  .content_233-123 {
    content: 233-123;
}

  .w_400px {
    width: 400px;
}

  .min-h_100vh {
    min-height: 100vh;
}

  .w_100\% {
    width: 100%;
}

  .w_62px {
    width: 62px;
}

  .h_1px {
    height: 1px;
}

  .h_60px {
    height: 60px;
}

  .h_100\% {
    height: 100%;
}

  .max-w_1260px {
    max-width: 1260px;
}

  .min-w_0 {
    min-width: var(--sizes-0);
}

  .w_193px {
    width: 193px;
}

  .bottom_0 {
    bottom: var(--spacing-0);
}

  .w_58px {
    width: 58px;
}

  .h_58px {
    height: 58px;
}

  .top_8px {
    top: 8px;
}

  .right_0 {
    right: var(--spacing-0);
}

  .w_126px {
    width: 126px;
}

  .h_37px {
    height: 37px;
}

  .w_14px {
    width: 14px;
}

  .h_2px {
    height: 2px;
}

  .ml_30px {
    margin-left: 30px;
}

  .h_19px {
    height: 19px;
}

  .w_256px {
    width: 256px;
}

  .h_32px {
    height: 32px;
}

  .h_14px {
    height: 14px;
}

  .w_18px {
    width: 18px;
}

  .h_18px {
    height: 18px;
}

  .w_117px {
    width: 117px;
}

  .h_34px {
    height: 34px;
}

  .mb_16px {
    margin-bottom: 16px;
}

  .h_20px {
    height: 20px;
}

  .ml_8px {
    margin-left: 8px;
}

  .w_calc\(100\%_\+_20px\)\! {
    width: calc(100% + 20px) !important;
}

  .pt_0 {
    padding-top: var(--spacing-0);
}

  .pb_0 {
    padding-bottom: var(--spacing-0);
}

  .min-h_500px {
    min-height: 500px;
}

  .w_100vw {
    width: 100vw;
}

  .h_100vh {
    height: 100vh;
}

  .w_320px {
    width: 320px;
}

  .left_50\% {
    left: 50%;
}

  .top_50\% {
    top: 50%;
}

  .mb_25px {
    margin-bottom: 25px;
}

  .w_150px {
    width: 150px;
}

  .max-w_760px {
    max-width: 760px;
}

  .mb_32px {
    margin-bottom: 32px;
}

  .pb_16px {
    padding-bottom: 16px;
}

  .mb_28px {
    margin-bottom: 28px;
}

  .pl_20px {
    padding-left: 20px;
}

  .mb_10px {
    margin-bottom: 10px;
}

  .max-w_720px {
    max-width: 720px;
}

  .mb_12px {
    margin-bottom: 12px;
}

  .mt_12px {
    margin-top: 12px;
}

  .mb_24px {
    margin-bottom: 24px;
}

  .mb_8px {
    margin-bottom: 8px;
}

  .h_22px {
    height: 22px;
}

  .mt_24px {
    margin-top: 24px;
}

  .mb_20px {
    margin-bottom: 20px;
}

  .h_40px {
    height: 40px;
}

  .h_30px {
    height: 30px;
}

  .w_30px {
    width: 30px;
}

  .max-w_60\% {
    max-width: 60%;
}

  .w_12px {
    width: 12px;
}

  .h_12px {
    height: 12px;
}

  .ml_auto {
    margin-left: auto;
}

  .mr_4px {
    margin-right: 4px;
}

  .pt_8px {
    padding-top: 8px;
}

  .max-w_640px {
    max-width: 640px;
}

  .max-w_180px {
    max-width: 180px;
}

  .max-w_220px {
    max-width: 220px;
}

  .min-w_150px {
    min-width: 150px;
}

  .min-h_32px {
    min-height: 32px;
}

  .w_75px {
    width: 75px;
}

  .h_75px {
    height: 75px;
}

  .ml_10px {
    margin-left: 10px;
}

  .mb_40px {
    margin-bottom: 40px;
}

  .w_75\% {
    width: 75%;
}

  .mt_40px {
    margin-top: 40px;
}

  .w_60px {
    width: 60px;
}

  .w_290px {
    width: 290px;
}

  .mb_5px {
    margin-bottom: 5px;
}

  .mr_10px {
    margin-right: 10px;
}

  .min-h_180px {
    min-height: 180px;
}

  .mt_16px {
    margin-top: 16px;
}

  .min-h_120px {
    min-height: 120px;
}

  .ml_4px {
    margin-left: 4px;
}

  .mt_8px {
    margin-top: 8px;
}

  .pt_15px {
    padding-top: 15px;
}

  .pb_40px {
    padding-bottom: 40px;
}

  .w_auto {
    width: auto;
}

  .mt_-7px {
    margin-top: -7px;
}

  .w_120px {
    width: 120px;
}

  .w_100px {
    width: 100px;
}

  .mt_20px {
    margin-top: 20px;
}

  .mt_10px {
    margin-top: 10px;
}

  .w_8px {
    width: 8px;
}

  .h_8px {
    height: 8px;
}

  .h_15px {
    height: 15px;
}

  .mb_4px {
    margin-bottom: 4px;
}

  .w_80px {
    width: 80px;
}

  .h_80px {
    height: 80px;
}

  .max-h_52px {
    max-height: 52px;
}

  .h_48px {
    height: 48px;
}

  .w_48px {
    width: 48px;
}

  .max-w_100\% {
    max-width: 100%;
}

  .h_44px {
    height: 44px;
}

  .mb_23px {
    margin-bottom: 23px;
}

  .mt_21px {
    margin-top: 21px;
}

  .w_32px {
    width: 32px;
}

  .mb_38px {
    margin-bottom: 38px;
}

  .min-h_126px {
    min-height: 126px;
}

  .min-h_58px {
    min-height: 58px;
}

  .top_14px {
    top: 14px;
}

  .left_-22px {
    left: -22px;
}

  .pt_23px {
    padding-top: 23px;
}

  .pb_8px {
    padding-bottom: 8px;
}

  .w_220px {
    width: 220px;
}

  .mb_14px {
    margin-bottom: 14px;
}

  .mb_0 {
    margin-bottom: var(--spacing-0);
}

  .mt_4px {
    margin-top: 4px;
}

  .w_190px {
    width: 190px;
}

  .w_24px {
    width: 24px;
}

  .h_24px {
    height: 24px;
}

  .before\:bg_currentcolor::before,.after\:bg_currentcolor::after {
    background: currentcolor;
}

  .before\:bg_\#f00::before,.after\:bg_\#f00::after {
    background: #f00;
}

  .after\:anim_ping_1s_cubic-bezier\(0\,_0\,_0\.2\,_1\)_infinite::after {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

  .\[\&_\>_\.bgm-menu-item\]\:p_5px_0 > .bgm-menu-item {
    padding: 5px 0;
}

  .\[\&_\>_\.bgm-menu-item\:nth-child\(-n_\+_5\)\]\:bg_\#f7f7f7 > .bgm-menu-item:nth-child(-n + 5) {
    background: #f7f7f7;
}

  .\[\&_\>_\.bgm-button\]\:p_0_20px > .bgm-button,.\[\&_\.bgm-button\]\:p_0_20px .bgm-button {
    padding: 0 20px;
}

  .\[\&_th\,_\&_td\]\:p_11px_4px th,.\[\&_th\,_\&_td\]\:p_11px_4px td {
    padding: 11px 4px;
}

  .\[\&\:nth-child\(even\)\]\:bg_\#f9f9f9:nth-child(even) {
    background: #f9f9f9;
}

  .\[\&_h3\]\:m_0_0_5px h3 {
    margin: 0 0 5px;
}

  .\[\&\.bgm-input-group_\*\]\:bg_\#fcfcfc.bgm-input-group * {
    background: #fcfcfc;
}

  .\[\&_p\]\:m_0_0_12px p {
    margin: 0 0 12px;
}

  .\[\&_p\]\:m_0 p {
    margin: var(--spacing-0);
}

  .\[\&_\.bgm-avatar\]\:bd_none .bgm-avatar {
    border: var(--borders-none);
}

  .\[\&_h3\]\:m_0_0_4px h3 {
    margin: 0 0 4px;
}

  .before\:bdr_1px::before,.after\:bdr_1px::after {
    border-radius: 1px;
}

  .before\:bdr_50\%::before,.after\:bdr_50\%::after {
    border-radius: 50%;
}

  .\[\&_a\]\:td_none a {
    text-decoration: none;
}

  .\[\&_a\:first-of-type\]\:bd-r_2px_solid_\#999 a:first-of-type {
    border-right: 2px solid #999;
}

  .\[\&_\.bgm-input__wrapper--focus\]\:bd-c_\#f09199\! .bgm-input__wrapper--focus {
    border-color: #f09199 !important;
}

  .\[\&_\.bgm-input__wrapper\]\:flex_1 .bgm-input__wrapper {
    flex: 1 1 0%;
}

  .last\:bd-b_none:last-child {
    border-bottom: var(--borders-none);
}

  .\[\&_img\]\:bdr_2px img {
    border-radius: 2px;
}

  .\[\&\:last-child\]\:bd-b_none:last-child {
    border-bottom: var(--borders-none);
}

  .\[\&_tr\]\:bd-b_1px_dotted_\#e8e3e3 tr {
    border-bottom: 1px dotted #e8e3e3;
}

  .\[\&_h3\]\:ov_hidden h3 {
    overflow: hidden;
}

  .\[\&\.bgm-input__wrapper\]\:bdr_0.bgm-input__wrapper {
    border-radius: 0;
}

  .\[\&\.bgm-input__wrapper\]\:bd-b_0.bgm-input__wrapper {
    border-bottom: 0;
}

  .\[\&\.bgm-input__wrapper\:first-of-type\]\:bdr_12px_0_0.bgm-input__wrapper:first-of-type {
    border-radius: 12px 0 0;
}

  .\[\&\.bgm-input__wrapper\:last-of-type\]\:bdr_0_12px_0_0.bgm-input__wrapper:last-of-type {
    border-radius: 0 12px 0 0;
}

  .\[\&\:first-of-type\]\:bdr_0_0_0_12px:first-of-type {
    border-radius: 0 0 0 12px;
}

  .\[\&\:last-of-type\]\:bd-l_unset:last-of-type {
    border-left: unset;
}

  .\[\&\:last-of-type\]\:bdr_0_0_12px:last-of-type {
    border-radius: 0 0 12px;
}

  .\[\&_a\]\:gap_4px a {
    gap: 4px;
}

  .\[\&_a\]\:ov_hidden a {
    overflow: hidden;
}

  .\[\&_li\]\:gap_6px li {
    gap: 6px;
}

  .\[\&_img\]\:bdr_3px img {
    border-radius: 3px;
}

  .before\:pos_absolute::before {
    position: absolute;
}

  .before\:content_\"\"::before {
    content: "";
}

  .after\:pos_absolute::after {
    position: absolute;
}

  .after\:content_\"\"::after {
    content: "";
}

  .\[\&_a\]\:c_\#999 a {
    color: #999;
}

  .\[\&_a\]\:fs_14px a {
    font-size: 14px;
}

  .\[\&_a\]\:lh_14px a {
    line-height: 14px;
}

  .\[\&_\>_\.bgm-menu-item\]\:bx-s_border-box > .bgm-menu-item {
    box-sizing: border-box;
}

  .\[\&_\>_\.bgm-menu-item\]\:c_\#999 > .bgm-menu-item {
    color: #999;
}

  .\[\&_\>_\.bgm-menu-item\]\:fs_14px > .bgm-menu-item {
    font-size: 14px;
}

  .\[\&_\>_\.bgm-menu-item\]\:fw_400 > .bgm-menu-item {
    font-weight: 400;
}

  .\[\&_\>_\.bgm-menu-item\]\:lh_30px > .bgm-menu-item {
    line-height: 30px;
}

  .\[\&_\>_\.bgm-menu-item\]\:ta_center > .bgm-menu-item {
    text-align: center;
}

  .\[\&_\>_\.bgm-menu-item\:nth-child\(-n_\+_5\)\]\:fw_600 > .bgm-menu-item:nth-child(-n + 5) {
    font-weight: 600;
}

  .\[\&_div\]\:ta_center div {
    text-align: center;
}

  .\[\&\:has\(button\:only-child\)\]\:jc_center:has(button:only-child) {
    justify-content: center;
}

  .\[\&_\>_svg\]\:cursor_pointer > svg {
    cursor: pointer;
}

  .\[\&_a\,_\&_span\]\:white-space_nowrap a,.\[\&_a\,_\&_span\]\:white-space_nowrap span {
    white-space: nowrap;
}

  .\[\&_a\]\:fw_600 a {
    font-weight: 600;
}

  .\[\&_\>_a\]\:d_block > a {
    display: block;
}

  .\[\&_\>_a\]\:fw_600 > a {
    font-weight: 600;
}

  .\[\&_\>_a\]\:fs_16px > a {
    font-size: 16px;
}

  .\[\&_\>_a\]\:lh_22px > a {
    line-height: 22px;
}

  .\[\&_\>_span\]\:fs_12px > span {
    font-size: 12px;
}

  .\[\&_\>_span\]\:lh_17px > span {
    line-height: 17px;
}

  .\[\&_\>_span\]\:c_\#9f9b9b > span {
    color: #9f9b9b;
}

  .\[\&_\.bgm-input\]\:fs_1\.125rem .bgm-input {
    font-size: 1.125rem;
}

  .\[\&_img\]\:d_block img {
    display: block;
}

  .\[\&_\.bgm-link\]\:c_\#0084b4 .bgm-link {
    color: #0084b4;
}

  .\[\&_thead\]\:fs_18px thead {
    font-size: 18px;
}

  .\[\&_thead\]\:lh_18px thead {
    line-height: 18px;
}

  .\[\&_thead\]\:ta_left thead {
    text-align: left;
}

  .\[\&_\.bgm-avatar\]\:d_block .bgm-avatar {
    display: block;
}

  .\[\&_h3\]\:fs_16px h3 {
    font-size: 16px;
}

  .\[\&_h3\]\:fw_400 h3 {
    font-weight: 400;
}

  .\[\&_h3\]\:lh_18px h3 {
    line-height: 18px;
}

  .\[\&_h3\]\:tov_ellipsis h3 {
    text-overflow: ellipsis;
}

  .\[\&_h3\]\:white-space_nowrap h3 {
    white-space: nowrap;
}

  .\[\&_a\]\:c_\#54b5df a {
    color: #54b5df;
}

  .\[\&_a\]\:c_\#595555 a {
    color: #595555;
}

  .\[\&_a\]\:d_flex a {
    display: flex;
}

  .\[\&_a\]\:flex-d_column a {
    flex-direction: column;
}

  .\[\&_a\]\:ai_center a {
    align-items: center;
}

  .\[\&_a\]\:tov_ellipsis a {
    text-overflow: ellipsis;
}

  .\[\&_a\]\:white-space_nowrap a {
    white-space: nowrap;
}

  .\[\&_li\]\:d_flex li {
    display: flex;
}

  .\[\&_li\]\:ai_center li {
    align-items: center;
}

  .\[\&_li\]\:fs_13px li {
    font-size: 13px;
}

  .\[\&_li\]\:c_\#999 li {
    color: #999;
}

  a.\[a\&\]\:c_\#54b5df {
    color: #54b5df;
}

  .\[\&_a\]\:c_inherit a {
    color: inherit;
}

  .\[\&_p\]\:d_inline p {
    display: inline;
}

  .\[\&_a\]\:fs_15px a {
    font-size: 15px;
}

  .\[\&_a\]\:fs_13px a {
    font-size: 13px;
}

  .\[\&_a\]\:c_\#1f1c1c a {
    color: #1f1c1c;
}

  .\[\&_a\]\:d_block a {
    display: block;
}

  .\[\&_img\]\:asp_3_\/_4 img {
    aspect-ratio: 3 / 4;
}

  .\[\&_img\]\:obj-f_cover img {
    object-fit: cover;
}

  .\[\&_h3\]\:fs_15px h3 {
    font-size: 15px;
}

  .disabled\:cursor_default:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: default;
}

  .before\:top_-5px::before {
    top: -5px;
}

  .before\:left_0::before {
    left: var(--spacing-0);
}

  .before\:w_14px::before {
    width: 14px;
}

  .before\:h_2px::before {
    height: 2px;
}

  .after\:top_5px::after {
    top: 5px;
}

  .after\:left_0::after {
    left: var(--spacing-0);
}

  .after\:w_14px::after {
    width: 14px;
}

  .after\:h_2px::after {
    height: 2px;
}

  .before\:top_-3px::before {
    top: -3px;
}

  .before\:right_0::before {
    right: var(--spacing-0);
}

  .before\:w_8px::before {
    width: 8px;
}

  .before\:h_8px::before {
    height: 8px;
}

  .after\:top_-3px::after {
    top: -3px;
}

  .after\:right_0::after {
    right: var(--spacing-0);
}

  .after\:w_8px::after {
    width: 8px;
}

  .after\:h_8px::after {
    height: 8px;
}

  .\[\&_a\:first-of-type\]\:pr_12px a:first-of-type {
    padding-right: 12px;
}

  .\[\&_a\:last-of-type\]\:pl_12px a:last-of-type {
    padding-left: 12px;
}

  .\[\&_\>_\.bgm-menu-item\]\:w_100\% > .bgm-menu-item,.\[\&_\>_\*\]\:w_100\% > * {
    width: 100%;
}

  .\[\&_div\]\:h_78px div {
    height: 78px;
}

  .last\:mb_0:last-child {
    margin-bottom: var(--spacing-0);
}

  .\[\&_\>_\*\]\:mr_20px > * {
    margin-right: 20px;
}

  .\[\&_\>_a\]\:mb_6px > a {
    margin-bottom: 6px;
}

  .\[\&_\>_\*\]\:mb_10px > * {
    margin-bottom: 10px;
}

  .\[\&\[class\]\]\:w_20px[class] {
    width: 20px;
}

  .\[\&\[class\]\]\:h_20px[class] {
    height: 20px;
}

  .\[\&_a\]\:pl_10px a {
    padding-left: 10px;
}

  .\[\&_\.bgm-avatar\]\:pr_10px .bgm-avatar {
    padding-right: 10px;
}

  .\[\&_img\]\:w_100\% img {
    width: 100%;
}

  .\[\&_img\]\:w_72px img {
    width: 72px;
}

  .focus\:bd-c_\#888:is(:focus, [data-focus]) {
    border-color: #888;
}

  .hover\:bg_\#f09199:is(:hover, [data-hover]) {
    background: #f09199;
}

  .hover\:bg_\#e7848e:is(:hover, [data-hover]) {
    background: #e7848e;
}

  .hover\:td_underline:is(:hover, [data-hover]) {
    text-decoration: underline;
}

  .hover\:td_none:is(:hover, [data-hover]) {
    text-decoration: none;
}

  .hover\:bd-c_\#369cf8:is(:hover, [data-hover]) {
    border-color: #369cf8;
}

  .hover\:bg-c_\#8fcaec:is(:hover, [data-hover]) {
    background-color: #8fcaec;
}

  .hover\:bg-c_\#f68ab1:is(:hover, [data-hover]) {
    background-color: #f68ab1;
}

  .hover\:bg-c_\#3db3f5:is(:hover, [data-hover]) {
    background-color: #3db3f5;
}

  .hover\:bg-c_\#999ea1:is(:hover, [data-hover]) {
    background-color: #999ea1;
}

  .hover\:bg-c_\#585c5e:is(:hover, [data-hover]) {
    background-color: #585c5e;
}

  .\[\&_\.bgm-menu-item--underline\:hover\]\:c_\#f09199 .bgm-menu-item--underline:hover {
    color: #f09199;
}

  .\[\&_a\:hover\]\:c_\#fff a:hover {
    color: #fff;
}

  .\[\&_a\:hover\]\:fw_700 a:hover {
    font-weight: 700;
}

  .hover\:c_\#54b5df:is(:hover, [data-hover]) {
    color: #54b5df;
}

  .hover\:c_\#fff:is(:hover, [data-hover]) {
    color: #fff;
}

  .hover\:op_1:is(:hover, [data-hover]) {
    opacity: 1;
}

  .hover\:cursor_pointer:is(:hover, [data-hover]) {
    cursor: pointer;
}

  .hover\:bg-c_\#369cf8:is(:hover, [data-hover]) {
    background-color: #369cf8;
}

  .hover\:bg-c_\#e8e3e3:is(:hover, [data-hover]) {
    background-color: #e8e3e3;
}

  .\[\&\.bgm-input__wrapper\]\:\[\&\:last-child\]\:flex_1.bgm-input__wrapper:last-child {
    flex: 1 1 0%;
}

  .\[\&_h3\]\:\[\&_a\]\:td_none h3 a {
    text-decoration: none;
}

  .\[\&_\.bgm-input\]\:\[\&\:\:placeholder\]\:c_\#9f9b9b .bgm-input::placeholder {
    color: #9f9b9b;
}

  .\[\&_thead\]\:\[\&_th\]\:fw_normal thead th {
    font-weight: var(--font-weights-normal);
}

  .\[\&_a\]\:hover\:c_\#54b5df a:is(:hover, [data-hover]) {
    color: #54b5df;
}

  .\[\&_h3\]\:\[\&_a\]\:c_\#1f1c1c h3 a {
    color: #1f1c1c;
}

  .\[\&_p\]\:\[\&\:last-child\]\:mb_0 p:last-child {
    margin-bottom: var(--spacing-0);
}

  .hover\:\[\&_a\:first-of-type\]\:bd-r_2px_solid_\#f5a4ab:is(:hover, [data-hover]) a:first-of-type {
    border-right: 2px solid #f5a4ab;
}

  .\[\&_\.bgm-menu-item--underline\:hover\]\:\[\&\:\:after\]\:bg-c_\#f09199 .bgm-menu-item--underline:hover::after {
    background-color: #f09199;
}

  .hover\:\[\&_a\]\:c_\#f5a4ab:is(:hover, [data-hover]) a {
    color: #f5a4ab;
}

  .\[\&_h3\]\:\[\&_a\]\:hover\:c_\#54b5df h3 a:is(:hover, [data-hover]) {
    color: #54b5df;
}

  @media (max-width: 1260px) {
    .\[\@media_\(max-width\:_1260px\)\]\:m_auto_20px {
      margin: auto 20px;
}
    .\[\@media_\(max-width\:_1260px\)\]\:m_0_20px {
      margin: 0 20px;
}
    .\[\@media_\(max-width\:_1260px\)\]\:mr_10px {
      margin-right: 10px;
}
}

  @media (max-width: 1200px) {
    .\[\@media_\(max-width\:_1200px\)\]\:ai_flex-end {
      align-items: flex-end;
}
    .\[\@media_\(max-width\:_1200px\)\]\:d_none {
      display: none;
}
}

  @media (max-width: 992px) {
    .\[\@media_\(max-width\:_992px\)\]\:d_none {
      display: none;
}
    .\[\@media_\(max-width\:_992px\)\]\:d_none\! {
      display: none !important;
}
}

  @media (max-width: 768px) {
    .\[\@media_\(max-width\:_768px\)\]\:p_24px_16px_36px {
      padding: 24px 16px 36px;
}
    .\[\@media_\(max-width\:_768px\)\]\:flex_none {
      flex: none;
}
    .\[\@media_\(max-width\:_768px\)\]\:flex-d_column {
      flex-direction: column;
}
    .\[\@media_\(max-width\:_768px\)\]\:ai_stretch {
      align-items: stretch;
}
    .\[\@media_\(max-width\:_768px\)\]\:flex-b_100\% {
      flex-basis: 100%;
}
    .\[\@media_\(max-width\:_768px\)\]\:grid-tc_minmax\(0\,_1fr\) {
      grid-template-columns: minmax(0, 1fr);
}
    .\[\@media_\(max-width\:_768px\)\]\:w_100\% {
      width: 100%;
}
    .\[\@media_\(max-width\:_768px\)\]\:pt_16px {
      padding-top: 16px;
}
    .\[\@media_\(max-width\:_768px\)\]\:pb_40px {
      padding-bottom: 40px;
}
    .\[\@media_\(max-width\:_768px\)\]\:mt_0 {
      margin-top: var(--spacing-0);
}
}

  @media screen and (max-width: 47.9975rem) {
    .mdDown\:gap_32px {
      gap: 32px;
}
    .mdDown\:flex-d_column {
      flex-direction: column;
}
}

  @media (max-width: 640px) {
    .\[\@media_\(max-width\:_640px\)\]\:p_12px {
      padding: 12px;
}
    .\[\@media_\(max-width\:_640px\)\]\:fs_20px {
      font-size: 20px;
}
    .\[\@media_\(max-width\:_640px\)\]\:grid-tc_1fr {
      grid-template-columns: 1fr;
}
    .\[\@media_\(max-width\:_640px\)\]\:fs_14px {
      font-size: 14px;
}
    .\[\@media_\(max-width\:_640px\)\]\:w_50\% {
      width: 50%;
}
    .\[\@media_\(max-width\:_640px\)\]\:pr_16px {
      padding-right: 16px;
}
    .\[\@media_\(max-width\:_640px\)\]\:pl_16px {
      padding-left: 16px;
}
    .\[\@media_\(max-width\:_640px\)\]\:mb_24px {
      margin-bottom: 24px;
}
    .\[\@media_\(max-width\:_640px\)\]\:min-h_0 {
      min-height: var(--sizes-0);
}
    .\[\&_li\]\:\[\@media_\(max-width\:_640px\)\]\:fs_14px li {
      font-size: 14px;
}
}

  @media screen and (max-width: 39.9975rem) {
    .smDown\:p_0_5px {
      padding: 0 5px;
}
    .smDown\:p_0 {
      padding: var(--spacing-0);
}
    .smDown\:bg_transparent\! {
      background: var(--colors-transparent) !important;
}
    .smDown\:bd_1px_solid_\#e5e5e5 {
      border: 1px solid #e5e5e5;
}
    .smDown\:bd_0 {
      border: 0;
}
    .smDown\:p_4px_10px_0 {
      padding: 4px 10px 0;
}
    .smDown\:bg_\#fff\! {
      background: #fff !important;
}
    .smDown\:flex_0_0_40px {
      flex: 0 0 40px;
}
    .smDown\:bdr_16px {
      border-radius: 16px;
}
    .smDown\:gap_18px {
      gap: 18px;
}
    .smDown\:flex_0_0_32px {
      flex: 0 0 32px;
}
    .smDown\:bdr_50\% {
      border-radius: 50%;
}
    .smDown\:bd-b_1px_solid_rgba\(249\,_188\,_193\,_0\.95\) {
      border-bottom: 1px solid rgba(249, 188, 193, 0.95);
}
    .smDown\:d_block {
      display: block;
}
    .smDown\:pos_relative {
      position: relative;
}
    .smDown\:d_flex {
      display: flex;
}
    .smDown\:ai_center {
      align-items: center;
}
    .smDown\:jc_center {
      justify-content: center;
}
    .smDown\:c_\#999 {
      color: #999;
}
    .smDown\:d_none {
      display: none;
}
    .smDown\:c_\#f09199 {
      color: #f09199;
}
    .smDown\:pos_absolute {
      position: absolute;
}
    .smDown\:z_1 {
      z-index: 1;
}
    .smDown\:bx-s_border-box {
      box-sizing: border-box;
}
    .smDown\:bx-sh_0_0_0_2px_rgba\(0\,_0\,_0\,_0\.04\) {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
}
    .smDown\:grid-tc_minmax\(0\,_1fr\) {
      grid-template-columns: minmax(0, 1fr);
}
    .smDown\:h_50px {
      height: 50px;
}
    .smDown\:w_143px {
      width: 143px;
}
    .smDown\:w_36px {
      width: 36px;
}
    .smDown\:h_42px {
      height: 42px;
}
    .smDown\:top_5px {
      top: 5px;
}
    .smDown\:w_110px {
      width: 110px;
}
    .smDown\:h_32px {
      height: 32px;
}
    .smDown\:w_40px {
      width: 40px;
}
    .smDown\:ml_10px {
      margin-left: 10px;
}
    .smDown\:w_32px {
      width: 32px;
}
    .smDown\:w_78px {
      width: 78px;
}
    .smDown\:top_100\% {
      top: 100%;
}
    .smDown\:left_0 {
      left: var(--spacing-0);
}
    .smDown\:w_100\% {
      width: 100%;
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:bg_\#f09199\![aria-expanded='true'] {
      background: #f09199 !important;
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:bd-c_\#f09199[aria-expanded='true'] {
      border-color: #f09199;
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:c_\#fff[aria-expanded='true'] {
      color: #fff;
}
    .smDown\:\[\&_a\]\:fs_12px a {
      font-size: 12px;
}
    .smDown\:\[\&_svg\]\:w_20px svg {
      width: 20px;
}
    .smDown\:\[\&_svg\]\:h_20px svg {
      height: 20px;
}
    .smDown\:\[\&_a\:first-of-type\]\:pr_7px a:first-of-type {
      padding-right: 7px;
}
    .smDown\:\[\&_a\:last-of-type\]\:pl_7px a:last-of-type {
      padding-left: 7px;
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:\[\&_span\]\:bg_transparent[aria-expanded='true'] span {
      background: var(--colors-transparent);
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:\[\&_span\:\:before\]\:trf_rotate\(45deg\)[aria-expanded='true'] span::before {
      transform: rotate(45deg);
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:\[\&_span\:\:after\]\:trf_rotate\(-45deg\)[aria-expanded='true'] span::after {
      transform: rotate(-45deg);
}
    .smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:\[\&_span\:\:before\]\:top_0[aria-expanded='true'] span::before,.smDown\:\[\&\[aria-expanded\=\'true\'\]\]\:\[\&_span\:\:after\]\:top_0[aria-expanded='true'] span::after {
      top: var(--spacing-0);
}
}
}