.bgm-toast__container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.bgm-toast {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  margin-bottom: 5px;
  max-width: 600px;

  &--visible {
    opacity: 1;
  }
}
