@import '@bangumi/design/theme/base';

.grid {
  display: grid;
  column-gap: 2.5rem;
  grid-template-columns: 2fr 1fr;
}

.tipText {
  margin-bottom: 10px;
}

.groupLink {
  padding: 0 10px;
}

.titleInput {
  display: flex;
  margin-bottom: 1rem;

  :global(.bgm-input) {
    font-size: 1.125rem;

    &::placeholder {
      color: @gray-60;
    }

    &__wrapper {
      flex: 1;
    }
  }
}

.contentEditor {
  grid-column: 1;

  :global(.bgm-editor) {
    &__form,
    &__text {
      width: auto;
    }

    &__container {
      align-self: stretch;
    }
  }
}
