name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.20.3

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: 'pnpm'

      # Runs a set of commands using the runners shell
      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - run: echo ${{ github.event.number }} > packages/website/dist/pr_number

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: sites
          path: packages/website/dist
