name: Build

on:
  push:
    branches: [master]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: "7"
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build:test

      - run: echo ${{ github.event.number }} > packages/website/dist/pr_number

      - name: upload website build artifact
        uses: actions/upload-artifact@v3
        with:
          name: sites
          path: packages/website/dist

  upload-preview:
    needs: [build]
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: sites
          path: sites

      - name: Upload Deploy
        run: netlify deploy --dir=sites --alias="sites" --prod
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_PREVIEW_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_PREVIEW_SITE_ID }}
