name: Build

on:
  push:
    branches: [master]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [master]
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-js-env

      - name: Build
        run: pnpm build --mode stage

      - name: upload website build artifact
        uses: actions/upload-artifact@v4
        with:
          name: sites
          path: packages/website/dist
