name: Storybook Build

on:
  push:
    branches: [master]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "**.md"

jobs:
  storybook-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: "7"
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm install
      - name: Build Storybook
        run: pnpm design:build-doc

      - run: echo ${{ github.event.number }} > packages/design/storybook-static/pr_number

      - name: upload storybook build artifact
        uses: actions/upload-artifact@v3
        with:
          name: storybook
          path: packages/design/storybook-static
