name: Unit Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    permission:
      pull_request: write
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install Dependencies
        run: pnpm install

      # Workaround for https://github.com/mattallty/jest-github-action/issues/8
      - name: Run Test
        run: pnpm jest --json --coverage --outputFile="/home/runner/work/_actions/mattallty/jest-github-action/v1/dist/jest.results.json"
      
      - name: Generate Coverage report
        uses: mattallty/jest-github-action@v1
        env:
          GITHUB_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
        with:
          test-command: "echo done"
