name: Update Type Definition
on:
  repository_dispatch:
    types: [update-types]
jobs:
  update-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.4
        with:
          version: "7"

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Build Type Definition
        run: pnpm build:types

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: Update Type Definition from bangumi/dev-docs
