@import (reference) '../../../theme/base';

.bgm-link {
  display: inline-block;
  color: @blue-100;
  cursor: pointer;

  &:link,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &--bold {
    font-weight: bold;
  }
}
