@link-primary-color: #0084B4;
@link-hover-color: #02A3FB;

.bgm-classic-link {
  &, &:link, &:visited, &:active {
    color: @link-primary-color;
    text-decoration: none;
  }

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}